<div class="container" ng-controller="policyListController">
  <!-- <div class="modal-header">
    <div class="row">
      <h3>Produktdetails</h3>
    </div>
  </div> -->
  <div class="modal-body">
      <div class="row">
          <form id="registrationForm" class="form-horizontal fv-form fv-form-bootstrap" novalidate="novalidate">
              <div class="form-group">
                  <div class="col-xs-6 col-xs-offset-3">
                    <h2><font color="2980b9">Produktdetails</font></h2>
                </div>
              </div>
              <div class="form-group">
                <div class="col-xs-6 col-xs-offset-3">
                  <h2><font color="ff6200">{{productGroup}}</font></h2>
                  <div class="form-group">
                      <h3><font color="ff6200">{{productDetails.productName}}</font></h3>
                    </div>
                </div>
              </div>
              <div class="form-group">
                
                <table class="table">
                  <!-- <thead>
                    <tr>
                      <th>Product Property</th>
                      <th>Product Value</th>
                    </tr>
                  </thead> -->
                  <tbody>
                    <tr ng-repeat="product in prodDetails">
                      <td>{{product.key}}</td>
                      <td>{{product.value === null ? 'NA': product.value}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div id="otherProducts">
                <table class="display">
                    <h4><font color="2980b9">Other Group Products</font></h4>
                    <ul>
                        <li ng-repeat="oProd in productDetails.otherProducts">
                            {{ oProd }}
                        </li>
                    </ul>      
                </table>              
              </div>
              <!-- <div class="form-group">
                <div class="col-xs-6 col-xs-offset-3">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="agree" value="agree" ng-model="agree" /> I Agree with the terms and conditions
                    </label>
                  </div>
                </div>
              </div> -->
          </form>
        </div>
  </div>
  <div class="modal-footer">
      <div class="col-xs-9 col-xs-offset-3">
        <!-- <button type="submit" class="btn btn-primary" name="submit" value="Submit" ng-disabled="!agree" ng-click="ok(agree)">Submit</button> -->
        <button class="btn btn-primary" ng-click="cancel()">Back to Overview</button>
      </div>
  </div>
</div>