<menu-list></menu-list>


<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true" ng-app="policyList">
    <ul ng-controller="policyListController">

            <h3>
                <font color="2980b9">Produkten ING</font>
            </h3>
            <div class="card">
                <div class="card-header" role="tab">
                    <li ng-repeat="item in productgroups" ng-click="accordion.current = item.productGroupName">
                        <h3>
                            <font color="ff6200">{{item.productGroupName}}</font> {{ item.products.length}}
                        </h3><i class="fas fa-angle-down rotate-icon"></i>
                        <ul ng-show="accordion.current == item.productGroupName">
                            <h4>
                                <li ng-repeat="products in item.products" ng-click="open(item.productGroupName, products.name)">{{products.name}}
                                </li>
                            </h4>
                        </ul>
                    </li>
                </div>
            </div>
    </ul>
</div>